.info_bg{
    background-color: #81e2f3;
}
.info_bg_middle{
    background-color: #7fe9bd;
}
.info_card{
    border-radius: 10px;
    padding-left: 15px;    
    display: block;
    color: #3f3f3f;

}
.info_title{
    font-size: 40px;
    color: #3f3f3f;
}
.info_btn{
    padding: 15px 20px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    transition: .40s;
    border: 2px solid #fff;
}

.info_btn:hover{
    border:2px solid #2D80BB;
    background-color: #B9F7F9;
}
.info_card_title, .far{
    color: #2D80BB;
    
}