
.card{
    text-align: center;
    padding: 15px;
    border: none;
}

.info_btn2{
    padding: 10px 15px;
    background-color: #8cf0c1;
    border-radius: 10px;
    border: 1px solid #247CBD;
    transition: .5s;
}
.info_btn2:hover{
    background-color: #fff;

}
.service{
    transition: .4s;
}
.service:hover{
    transform: scale(1.05);
}